html, body {
    height: 100%;
}
#container {
    height:1600px;
}

svg {
 }

.sfondo {
    fill: #eaebed ;
    stroke:gray;
    stroke-width:2;
}

.rigaGiorno {
    stroke: gray;
    stroke-width: 1;
    opacity:.5
}

.rigaMese {
    stroke: black;
    stroke-width: 1;
    opacity: .8
}

.testoGiorno {
    font-weight:300;
    font: 12px verdana;
    stroke: navy;
    text-anchor :middle;
    opacity:.6;
}

.shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
}

.boxLegend {
    fill: white;
    opacity: .9;
    box-shadow: 10px 10px 5px grey;
}

.testoMese {
    font-weight: 300;
    font: 18px verdana;
    stroke: navy;
    text-anchor: middle;
    opacity: .8;
}


.LS {
    opacity: .2;
    stroke-width:2px;
}

.LL {
    font-family: Verdana;
    font-size: 14px;
    text-anchor: start;
    dominant-baseline: middle;
    background-color: transparent;
    opacity: .6;
}

.S {
    font-family: FontAwesome;
    font-size: 14px;
    text-anchor: middle;
    dominant-baseline: middle;
    cursor: pointer;
    background-color: transparent;
    opacity: .6;
}

.S0 {
    stroke: blue;
}
.S1 {
    stroke: red;
}
.S2 {
    stroke: green;
}
.S3 {
    stroke: darkmagenta;
}
.S4 {
    stroke: orange;
}
.S5 {
    stroke: violet;
}
.S6 {
    stroke: darkcyan;
}
.S7 {
    stroke: black;
}
.S8 {
    stroke: salmon;
}
.S9 {
    stroke:  greenyellow;
}
.S10 {
    stroke:  yellow ;
}
