html, body {
    height: 100%;
}
#container {
    height:1600px;
}

svg {
 }

.sfondo {
    fill: #eaebed ;
    stroke:gray;
    stroke-width:2;
}

.rigaGiorno {
    stroke: gray;
    stroke-width: 1;
    opacity:.5
}

.rigaMese {
    stroke: black;
    stroke-width: 1;
    opacity: .8
}

.testoGiorno {
    font-weight:300;
    font: 8px verdana;
    stroke: red;
    text-anchor :middle;
    opacity:.6;
}

.shadow {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    /* Similar syntax to box-shadow */
}

.boxLegenda {
    stroke-width:.5;
    stroke:gray;
    fill: white;
    opacity: .93;
    box-shadow: 10px 10px 5px grey;
}

.testoMese {
    font-weight: 300;
    font: 12px verdana;
    stroke: navy;
    text-anchor: middle;
    opacity: .8;
}

.testoValore {
    font-weight: 200;
    font: 8px verdana;
    text-anchor: middle;
    opacity: .6;
}

.LS {
    opacity: .2;
    stroke-width:2px;
}

.LL {
    font-family: Verdana;
    font-size: 14px;
    text-anchor: start;
    dominant-baseline: middle;
    background-color: transparent;
    opacity: .6;
}
.LLS {
    font-family: Verdana;
    font-size: 12px;
    text-anchor: start;
    dominant-baseline: middle;
    background-color: transparent;
    opacity: .4;
}

.S {
    font-family: FontAwesome;
    font-size: 14px;
    text-anchor: middle;
    dominant-baseline: middle;
    cursor: pointer;
    background-color: transparent;
    opacity: .9;
}

.S2020 {
    stroke: blue;
}
.S2019 {
    stroke: red;
}
.S2018 {
    stroke: darkcyan;
}
.S2017 {
    stroke: darkmagenta;
}
.S2016 {
    stroke: maroon;
}
.S2015 {
    stroke: black;
}
